@import './colors';

input[type=submit],
button, .button{
    display: flex;
    cursor: pointer;
    position: relative;
    width: fit-content;
    min-width: 40px;
    min-height: 30px;
    background-color: $dark-fucsia;
    transition: all 200ms;
    border-radius: 8px;
    margin: 5px;
    padding: 2px 5px;
    align-items: center;
    color: white;
    border: 1px solid $dark-fucsia;
    max-width: -webkit-fill-available;

    &:hover {
        background-color: rgba($color: rgb(185, 0, 114), $alpha: 1);
    }

    &.outlet i,
    &.color-white i {
        color: #4D4A4C;
        font-size: 14px;
        margin: 0 5px;
    }

    &.outlet {
        border: 1px solid rgba($color: $fucsia, $alpha: 0.3);
        background-color: $c-backgroud;
        color: black;

        &:hover {
            filter: brightness(0.95);
        }
    }

    &.color-white {
        background-color: $c-backgroud;
        color: black;
        border: none;

        &:hover {
            background-color: rgba($color: $c-backgroud, $alpha: 0.9);
        }
    }

}