
// Descriptive colors

$c-backgroud: #FFF5FB;

$gray: rgb(206, 206, 206);

$text-color: #420028;

$fucsia: #EA028D;
$dark-fucsia: #8C0054;

$soft-fucsia: #FFF5FB;
$border-soft-fucsia: #FED9EF;

$error: #c92828;
$success: #4BB543





