<div class="sponsor">
                    
    <section class="head">


        <span>
            <h3 class="title">Patrocinadores</h3>
            <a href="#">Ver todo</a>
        </span>

        <span class="opacity" style="margin: 5px 10px;">
            <p>7 patrocinadores</p>
        </span>

    </section>

    <section class="content-elements">

        <ul class="elements">

            <li class="item" *ngFor="let item of sponsors">

                <div class="photo">
                    <img [src]="item.url" alt="imagen">
                </div>

            </li>

        </ul>

    </section>





</div>
