<div class="content-auth">

    
    <div class="box-container">
        
        <div class="container">

            <h2 class="login-title">Iniciar Sessión</h2>

            <form #loginForm="ngForm" (ngSubmit)="verifyData(loginForm)">
                <input type="text" name="email" [(ngModel)]="dataLogin.email" placeholder="Correo electronico" autocomplete="off">
                <input type="password" name="password" [(ngModel)]="dataLogin.pass" placeholder="Contraseña">

                <button class="button">Ingresar</button>

                <span><a>¿Olvidó su contraseña?</a></span>

                <div class="separator"><p>o</p></div>

                <button class="button btn-facebook" (click)="federatedSignIn('Facebook')">
                    <i class="icon-facebook"></i>
                    Facebook
                </button>

                
                <button class="button btn-google" (click)="federatedSignIn('Google')">
                    <img src="../../../assets/images/google.svg" width="24">
                    Google
                </button>

            </form>


        </div>
    </div>

</div>
