<div class="content-auth">

    
    <div class="box-container">
        
        <div class="container">

            <h2 class="login-title">Iniciar Sessión</h2>

            <form>
                <input type="text" placeholder="Correo electronico" autocomplete="off">
                <input type="password" placeholder="Contraseña">

                <button class="button">Ingresar</button>

                <span><a>¿Olvidó su contraseña?</a></span>

                <div class="separator"><p>o</p></div>

                <button class="button btn-facebook">
                    <i class="icon-facebook"></i>
                    Facebook
                </button>

                
                <button class="button btn-google">
                    <img src="../../../assets/images/google.svg" width="24">
                    Google
                </button>

            </form>


        </div>
    </div>

</div>
