<div class="profile-information">

    <!-- Description -->
    <section>

        <span>
            <h3 class="title">PERFIL</h3>
        </span>

        <article class="description-box">

            <p>
                “Hacer del mundo un lugar mejor para que todas las especies convivan”. “Crear historias
                fantásticas e inspiradoras para otras personas”. “Desarrollar mi lado espiritual al
                máximo y orientar a otras personas que quieran seguir el mismo camino”
            </p>

        </article>



    </section>

    <!-- General information -->

    <section>

        <span>
            <h3 class="title">INFORMACIÓN GENERAL</h3>
        </span>

        <div class="general-info">

            <div>

                <span>
                    <p class="key">Zona Rural:</p>
                    <p class="value">Amazonas</p>
                </span>

                <span>
                    <p class="key">Estado Laboral:</p>
                    <p class="value">Desempleada</p>
                </span>

            </div>

            <div>

                <span>
                    <p class="key">Area de desempeño:</p>
                    <p class="value">Artesanías</p>
                </span>

                <span>
                    <p class="key">Lugar de trabajo:</p>
                    <p class="value">No aplica</p>
                </span>

            </div>

        </div>

        <div class="certifications">

            <span>Certificados:</span>

            <ul class="container-certifications">

                <li class="certification" *ngFor="let i of [0,1,2,3,4,5]">

                    <div class="icon">
                        <i class="icon-adobeacrobatreader"></i>
                        PDF
                    </div>

                    <span>Curso de agronegocios</span>

                </li>

            </ul>

        </div>


    </section>

</div>