<div class="profile-information">

    <!-- Description -->
    <section>

        <span class="header">
            <h3 class="title">PERFIL</h3>
            <i class="icon-pencil" *ngIf="!editionMode" (click)="editionMode = !editionMode"></i>

            <div class="btn-group" *ngIf="editionMode">

                <button (click)="editProfile()">Guardar</button>
                <button class="outlet" (click)="cancelEdition()">Cancelar</button>
    
            </div>
        </span>

        <article class="description-box">

            <p *ngIf="!editionMode && profile">
                {{profile.description}}
            </p>

            <textarea 
                *ngIf="editionMode" 
                name="profile-info" 
                [(ngModel)]="profileModel.description"
                (ngModelChange)="data_to_update.description = $event"
            ></textarea>

        </article>



    </section>

    <!-- General information -->

    <section>

        <span>
            <h3 class="title">INFORMACIÓN GENERAL</h3>
        </span>

        <div class="general-info" *ngIf="!editionMode && profile">

            <div>

                <span>
                    <p class="key">Zona Rural:</p>
                    <p class="value"> {{profile.rural_zone}} </p>
                </span>

                <span>
                    <p class="key">Estado Laboral:</p>
                    <p class="value">{{profile.employment_status}}</p>
                </span>

            </div>

            <div>

                <span>
                    <p class="key">Area de desempeño:</p>
                    <p class="value">{{profile.performance}}</p>
                </span>

                <span>
                    <p class="key">Lugar de trabajo:</p>
                    <p class="value">{{profile.employment_status ? profile.workplace: 'No aplica' }}</p>
                </span>

            </div>

        </div>

        <div class="certifications">

            <span>Certificados:</span>

            <ul class="container-certifications">

                <li class="certification" *ngFor="let i of [0,1,2,3,4,5]">

                    <div class="icon">
                        <i class="icon-adobeacrobatreader"></i>
                        PDF
                    </div>

                    <span>Curso de agronegocios</span>

                </li>

            </ul>

        </div>


    </section>

</div>