<div class="content-auth">


    <div class="box-container">

        <div class="container">

            <h2 class="sign-up-title">Elije el tipo de usuario</h2>

            <span class="message" *ngIf="alert.error != '' ">{{alert.error}}</span>

            <form #singUpForm="ngForm" (ngSubmit)="verifyData(singUpForm)">

                <!-- SELECT -->
                <label class="select_list_2 dropdown" [ngClass]="{'active': ddownMonth1.checked}"
                    (click)="ddownMonth1.checked = !ddownMonth1.checked;"
                    (clickOutsideDdown)="ddownMonth1.checked = false;">

                    <span>{{type_select.label}}</span>
                    <i class="icon-play3"></i>
                    <input type="checkbox" #ddownMonth1>

                    <ul class="dropdown-list date" *ngIf="ddownMonth1.checked">
                        <li class="item" *ngFor="let type of user_types" (click)="type_select = type; addUserData.type = type.value">{{type.label}}</li>
                    </ul>
                </label>
                <!-- FIN SELECT -->

                <input type="text" *ngIf="type_select.value == 'natural' " name="code" placeholder="Escriba su código" [(ngModel)]="addUserData.code">

                <!-- SUBIR DOCUMENTO -->
                <label class="upload-input" for="certificate-input-file" *ngIf="['fundation', 'company'].includes(addUserData.type)">

                    <span id="input-upload-label">Adjuntar Certificado</span>

                    <span id="icon-input-upload" class="icon-upload" [ngStyle]="{'display': uploading_file ? 'none' : 'inherit'}"></span> 

                    <div class="spinner spinner--button" *ngIf="uploading_file" style="position: relative; margin: 0 15px; width: auto;">
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                    
    
                    <input id="certificate-input-file" type="file" accept="application/pdf, application/msword"
                    [disabled]="false" style="display: none;" (change)="addFile($event)"/>
                </label>
                <!-- FIN INPUT UPLOAD -->


                <button type="submit" class="button" >Continuar</button>

                <div class="separator">
                    <p>o</p>
                </div>
            </form>


        </div>
    </div>

</div>