<div class="div_menu">
    <div class="profile">
        <div class="div_img">
            <img #userAvatar [src]="user?.User?.imageUrl | scaleResolutionImg : 90" 
            (error)="userAvatar.src='https://storage.contextoganadero.com/s3fs-public/colombia/field_image/2015-05/mujer_rural.jpg'">
        </div>

        <div class="div_info">
            <ul>
                <li><a href="">{{user?.User?.name}}</a></li>
                <li><p>{{user.User.role | roleName}}</p></li>
            </ul>
        </div>
    </div>
    
    <div class="options">
        <ul>
            <li><a href="">Ver otros perfiles</a></li>
            <li class="community_option">
                <p (click)="change_community()" [ngStyle]="">Mi comunidad</p>
                <div *ngIf="community">
                    <hr class="vertical-hr">
                    <ul>
                        <li><hr><a href="#">Seguidores</a></li>
                        <li><hr><a href="#">Integrantes</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="">Portafolios guardados</a></li>
        </ul>
    </div>
    
    <div class="event_option">
        <a href="">Eventos</a>
        <i class="icon-plus"></i>
    </div>
</div>