<nav id="nav-bar">
    <div class="content-nav" [ngClass]="{'navigation-menu': _appService.user_session == 1}">

        <!-- HEADER -->
        <header class="logo">
            <span class="item">
                <img src="../../../../favicon.ico" alt="Icon" width="35">
            </span>
            <span class="item">
                <a class="logo-label" [routerLink]="['/home']">FemPower</a>
            </span>

            <span *ngIf="_appService.user_session == 1">
                <app-search-input></app-search-input>
            </span>
            

        </header>
        <!-- OPTIONS -->

        <!-- Usuario con Session -->
        <ul *ngIf="_appService.user_session == 1" class="nav-options">

            <div class="links-container" *ngIf="!_appService.user_code_confirmed">
                <li class="nav-link" >
                    <a [routerLink]="['/fem/fundations']" [routerLinkActive]="['active']">Fundaciones</a>
                </li>
                <li class="nav-link">
                    <a [routerLink]="['/fem/women']" [routerLinkActive]="['active']">Mujeres</a>
                </li>
                <li class="nav-link">
                    <a [routerLink]="['/auth/confirm-registration']" [routerLinkActive]="['active']">Verificar cuenta</a>
                </li>
            </div>

            <!-- Menu options -->
            <div class="links-container" *ngIf="_appService.user_code_confirmed">
                <li>
                    <i class="icon-document-certificate"></i>
                </li>
            </div>

            <!-- User Avatar -->
            <div (clickOutsideDdown)="showProfile=false" class="profile dropdown">
                <div (click)="toggleProfile()" [ngClass]="{'open':showProfile}" class="item">
                    <img #userAvatar [src]="_appService.user_data.picture"
                    (error)="userAvatar.src='https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg' ">
                </div>


                <ul class="menu">
                    <li>
                        <a>
                            <div class="row">
                                <img [src]="_appService.user_data.picture" #menuUserAvatar
                                    [className]="_appService.user_data.role | userClassName"
                                    (error)="menuUserAvatar.src='https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg'">
                                <div class="name">
                                    <h3>{{_appService.user_data.name | cutUserName: '2'}}</h3>
                                    <h4>{{_appService.user_data.role | roleName}}</h4>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a>Mi Perfil</a>
                    </li>

                    <li>
                        <a (click)="logout(0)">Cerrar sesión</a>
                    </li>
                </ul>

            </div>
        </ul>

        <!-- Usuario fuera de la session -->
        <ul *ngIf="_appService.user_session == 0" class="nav-options" id="id-nav-options">
            <li class="nav-link">
                <a [routerLink]="['/fem/fundations']" [routerLinkActive]="['active']">Fundaciones</a>
            </li>
            <li class="nav-link">
                <a [routerLink]="['/fem/women']" [routerLinkActive]="['active']">Mujeres</a>
            </li>
            <hr>
            <li class="nav-link">
                <a [routerLink]="['/auth/sign']" [routerLinkActive]="['active']">Únete</a>
            </li>
            <li class="nav-link">
                <a [routerLink]="['/auth/login']" [routerLinkActive]="['active']">Iniciar sesión</a>
            </li>
        </ul>

    </div>

    
    <div id="reponsive-menu" (clickOutsideDdown)="responsive_menu=false">
        <div id="icon-menu" (click)="responsive_menu=!responsive_menu"><i class="icon-menu"></i></div>
        <div *ngIf="responsive_menu==true">
            <ul id="menu" class="menu">
                <li class="nav-link">
                    <a [routerLink]="['/fem/fundations']" [routerLinkActive]="['active']">Fundaciones</a>
                </li>
                <li class="nav-link">
                    <a [routerLink]="['/fem/women']" [routerLinkActive]="['active']">Mujeres</a>
                </li>
                <hr *ngIf="_appService.user_session == 0">
                <li class="nav-link" *ngIf="_appService.user_session == 0">
                    <a [routerLink]="['/auth/sign']" [routerLinkActive]="['active']">Únete</a>
                </li>
                <li class="nav-link" *ngIf="_appService.user_session == 0">
                    <a [routerLink]="['/auth/login']" [routerLinkActive]="['active']">Iniciar sesión</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- <div *ngIf="_appService.user_session==0" class="btn-group">
        <a [routerLink]="['/user/login']" class="login cta outline blue">Acceder</a>
        <a [routerLink]="['/user/add']" class="add cta outline red">Crear cuenta</a>
    </div> -->


</nav>