@import '../../../styles/colors';

:host {
    .menu {

        position: absolute;
        top: 55px;
        right: 0px;
        width: 300px;
        padding: 0;
        border-radius: 0px 0px 4px 4px;
        border: 1px solid rgba(45, 45, 45, .15);
        background-color: white;
        box-shadow: 0 2px 4px 0 #ddd;

        li {

            transition: all 400ms;

            &:first-child {
                border-bottom: 1px solid var(--color-border);
                margin-bottom: 10px;

                &>a {
                    padding: 20px;
                }

                &>a:active {
                    color: #1e4590;
                }

                .row {
                    display: flex;

                    &>img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                    }

                    h3 {
                        color: var(--color-font);
                        margin: 4px 0 0 12px;
                        font-weight: 600;
                        font-size: 18px;
                    }

                    h4 {
                        font-weight: 400;
                        margin: 4px 0 0 12px;
                        color: var(--color-font-gray);
                        // color: rgba(3, 27, 78, 0.6);
                    }
                }
            }

            &>a {
                width: 100%;
                padding: 10px 20px;
                color: var(--color-font);

                &>:active {
                    color: $text-color;
                }
            }

            &:last-child {
                margin-bottom: 10px;
            }

            &:hover {
                background-color: rgba($color: #ccc, $alpha: 0.5);
            }
        }

    }
}

#nav-bar {
    display: flex;
    background: white;
    position: sticky;
    justify-content: space-between;
    top: 0;
    left: 0;
    padding: 0.4rem;
    z-index: 8;
    box-shadow: 0 0px 5px #8c005424;
    border-bottom: 1px solid #f1f1f1;

    .content-nav {
        flex-basis: 100%;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all 300ms;

        .logo {
            display: flex;
            align-items: center;
            width: 50%;
            min-width: 400px;

            .item {
                cursor: pointer;
                text-decoration: none;
                color: inherit;
                align-self: center;

                img {
                    // width: 35px;
                }

                .logo-label {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 1.2em;
                    font-weight: bold;
                    margin-left: 5px;
                    font-style: italic;
                    letter-spacing: 0.02rem;
                }
            }
            
        }

        .nav-options {
            min-height: 45px;
            display: flex;

            // En caso que el usuario esté confirmado se muestra el estilo del menu de navegacion tradicional
            &.navigation-menu {
                width: 100%;
                // justify-content: space-between;
            }
            
            
            .links-container {
                display: flex;

                &.menu-options {
                    // width: 50%;
                    // margin: 0 auto;
                    justify-content: center;
                }
                
                &.menu-options-2 {
                    margin-left: auto;
                }

                .content-icon {
                    align-self: center;
                    display: flex;
                    padding: 5px 20px;
                    cursor: pointer;

                    i {
                        transition: color 300ms ;
                        font-size: 27px;
                        color: #808080;
                    }

                    &:hover i, .active {
                        color: $dark-fucsia
                    }
                }
            }

            .nav-link {
                align-self: center;
                font-weight: 700;
                padding: 0 15px;
            }

            .nav-link a.active {
                color: $dark-fucsia;
            }

            .profile {
                position: relative;

                .item {
                    padding: 0px;
                    position: relative;
                    cursor: pointer;
                    height: 40px;
                    width: 40px;
                    display: flex;
                    text-align: center;

                    img {
                        border-radius: 50%;
                        height: 30px;
                        width: 30px;
                        margin: auto;
                        margin-right: 0;
                    }
                }
            }

            .dropdown {

                .menu {
                  display: none;
                }
          
                .item.open {
                  &+.menu {
                    display: block;
                  }
                }
            }
        }
    }

    #icon-menu i{
        margin: 0 10px;
        margin-top: 4.5px;
        font-size: 2em;
        color: $dark-fucsia;

        cursor: pointer;
    }

    #reponsive-menu {
        .menu {
            top: 46px;
        }
    }

    

    @media only screen and (max-width: 399px) {
        #icon-menu{
            margin-right:5px;
        }
    }


    @media only screen and (max-width: 650px) {
        .content-nav .nav-link,
        .content-nav hr {
            display: none;
        }
    }

    /* Small devices (medium phones, 400px and up) */
    @media only screen and (min-width: 400px) {
        .content-nav .logo {
            margin: 10px 10px;
        }
    }
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 650px) {
        
        #menu {
            display: none !important;
        }

        #icon-menu{
            display: none;
        }

        #id-nav-options{
            display: flex;
        }

    }
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        .content-nav .logo {
            padding: 0 10px;
            margin: 10px 10px;
        }

        .content-nav {
            // padding: 0 2rem;
            max-width: 1335px;
            width: 100%;
            margin: 0 auto;
        }
    }
}