@import '../../styles/colors';
@import '../auth.component.scss';
@import '../../styles/select';


.content-sign-up {
    font-size: 14px;
    display: flex;
    padding: 35px;
    justify-content: center;
}

.separator {
    display: flex;
    margin: 1em 0;
    font-size: 17px;
    color: #031b4e;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    &::before {
        content: "";
        flex: 1 0 auto;
        border-bottom: 1.5px solid #dedfdf;
    }

    &::after {
        content: "";
        flex: 1 0 auto;
        border-bottom: 1.5px solid #dedfdf;
    }

    p {
        padding: 0px 8px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: -webkit-center;

    .sign-up-title {
        font-weight: 400;
    }

    form {
        width: 100%;
        max-width: 375px;

        input, .btn-sign-up {
            width: 100%;
            height: 32px;
            font-size: 17px;
            margin-bottom: 20px;
        }

        .btn-sign-up, .btn-facebook, .btn-google {
            width: 100%;
            justify-content: center;
            border-radius: 30px;
            padding: 20px;
        }

        .select_list_2, .upload-input {
            margin-bottom: 20px;
        }

        .btn-facebook, .btn-google {
            border: 1px solid #ddd;
            font-size: 20px;
            padding: 10px;
            font-weight: 500;
            justify-content: flex-start;
            background-color: white;

            i, img {margin-right: 10px;}
        }

        .btn-facebook {
            color: #2374e1;

            &:hover {
                background-color: #2374e1;
                color: white;

                i::before {color: white}
            }
        }

        .btn-google {
            color: #F93131;

            &:hover {
                background-color: #F93131;;
                color: white;
            }
        }

    }

}