<div class="content-sign-up">


    <div class="box-container">

        <div class="container">

            <h2 class="sign-up-title">Registrate</h2>

            <form>

                <input type="text" placeholder="Nombres">
                <input type="email" placeholder="Correo electronico" autocomplete="off">
                <input type="text" placeholder="Télefono">

                <input type="password" placeholder="Contraseña">

                <input type="password" placeholder="Confirmar contraseña">

                <!-- SELECT -->
                <label class="select_list_2 dropdown" [ngClass]="{'active': ddownMonth1.checked}"
                    (click)="ddownMonth1.checked = !ddownMonth1.checked;"
                    (clickOutsideDdown)="ddownMonth1.checked = false;">

                    <span>{{type_select.label}}</span>
                    <i class="icon-play3"></i>
                    <input type="checkbox" #ddownMonth1>

                    <ul class="dropdown-list date" *ngIf="ddownMonth1.checked">
                        <li class="item" *ngFor="let type of user_types" (click)="type_select = type">{{type.label}}</li>
                    </ul>
                </label>
                <!-- FIN SELECT -->

                <input type="text" placeholder="Escriba su código">

                <!-- SUBIR DOCUMENTO -->
                <label class="upload-input" for="certificate-input-file">

                    <span id="input-upload-label">Adjuntar Certificado</span>

                    <span id="icon-input-upload" class="icon-upload" [ngStyle]="{'display': uploading_file ? 'none' : 'inherit'}"></span> 

                    <div class="spinner spinner--button" *ngIf="uploading_file" style="position: relative; margin: 0 15px; width: auto;">
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                    
    
                    <input id="certificate-input-file" type="file" accept="application/pdf, application/msword"
                    [disabled]="false" style="display: none;" (change)="addFile($event)"/>
                </label>
                <!-- FIN INPUT UPLOAD -->


                <button class="btn-sign-up">Registrar</button>

                <div class="separator">
                    <p>o</p>
                </div>

                <button class="btn-facebook">
                    <i class="icon-facebook"></i>
                    Facebook
                </button>


                <button class="btn-google">
                    <img src="../../../assets/images/google.svg" width="24">
                    Google
                </button>

            </form>


        </div>
    </div>

</div>