<!--Sección 1-->

<div id="section-1">
    <div id="div-curve">
        <div class="div-button-donate">
            <button>¡Donar!</button>
            <p class="title-static-home">Te invitamos a aportar al reconocimineto de la mujer rural.</p>
        </div>
    </div>
    <img id="img-section-1" src="./assets/images/img-home-static.png" alt="img-home-static" >
</div>

<!--Sección 2-->

<div id="section-2">
    <div id="section-2-h3">
        <h3>Observa a quienes puedes ayudar a través de una donación: </h3>
    </div>
    <div id="beneficiaries">
        <button>Fundaciones <i class="icon-circle-right"></i></button>
        <button>Mujeres rurales <i class="icon-circle-right"></i></button>
    </div>
</div>


<!--Sección 3-->

<div id="section-3">
    <h3 class="title-static-home">¿Cómo ser parte de FemPower?</h3>
    <app-slider id="slider" [slider_type]="'no-automatic'"></app-slider>
</div>

<!--Sección 4-->

<div id="section-4">
    <p class="title-static-home">NUESTROS LOGROS</p>
    <div class="all-merits">
        <div class="merits-1">
            <div class="div-icons">
                <i class="icon-alarm"></i>
            </div>
            <p>28</p>
            <p>Departamentos</p>
        </div>

        <div class="merits-1">
            <div class="div-icons">
                <i class="icon-github1"></i>
            </div>
            <p>42.567</p>
            <p>Beneficiarios</p>
        </div>

        <div class="merits-1">
            <div class="div-icons">
                <i class="icon-bell"></i>
            </div>
            <p>11</p>
            <p>Paises</p>
        </div>
    </div>

    <div class="all-merits">
        <div class="merits-2">
            <div class="div-icons">
                <i class="icon-heart"></i>
            </div>
            <p>8.207</p>
            <p>Fundaciones integradas</p>
        </div>

        <div class="merits-2">
            <div class="div-icons">
                <i class="icon-library"></i>
            </div>
            <p>11.207</p>
            <p>Organizaciones patrocinadoras</p>
        </div>
    </div>
</div>

<!--Seccion 5-->

<div id="section-5">
    <p class="title-static-home">NUESTRA MISIÓN</p>
    <div id="mission">
        <p>Impulsar el reconocimiento del rol de las mujeres rurales como potenciales emprendedoras a nivel mundial. Y a su vez, lograr integrar en una sola comunidad a las fundaciones, organizaciones industriales y mujeres de estas zonas.</p>
    </div>
</div>


<!--Seccion 6-->

<div id="section-6">
    <p class="title-static-home">NUESTRA VISIÓN</p>
    <div id="container-view">
        <div class="view">
            <img src="https://www.portafolio.co/files/article_multimedia/uploads/2021/08/27/612993de37c2c.jpeg" alt="Imagen que representa nuestra visión">
        </div>
        <div class="view" id="description-view">
            <p>Que las mujeres rurales sean reconocidas a nivel mundialmente como principal potencia económica. Logrando así contribuir al movimiento global hacia la equidad de género por un mundo 50/50.</p>
        </div>
    </div>
</div>

<!--Seccion 7-->

<div id="section-7">
    <div id="container-know-process">
        <div class="know-process">
            <img src="https://www.semana.com/resizer/lXO9b_-GAz4CmOg800Eyl4aSnTc=/1280x720/smart/filters:format(jpg):quality(80)/cloudfront-us-east-1.images.arcpublishing.com/semana/T5WAUUFVAZCW5CMLFALJI75TLA.jpg" alt="Imagen de la fundación She is">
            <p>Observa el plan de trabajo desarrollado por las fundaciones</p>
        </div>
    
        <div class="know-process">
            <img src="https://pirhua.pe/wp-content/uploads/2021/08/artesana-catacaos-1024x576.jpg" alt="Imagen que evidencia el avance de los procesos que viven las mujeres en FemPower">
            <p>Conoce los proceso de emprendimiento de las mujeres rurales</p>
        </div>
    </div>
</div>


<!--Footer-->
<div id="section-footer">
    <app-footer></app-footer>
    <div id="contents-footer">
        <p>Se parte de la comunidad FemPower</p>
        <button>REGISTRARSE</button>
    </div>
</div>

<app-donate-button></app-donate-button>



