<!-- Crear publicación -->
<div class="component_create_post">
    <div class="container_header">
        <div class="photo">
            <img src="https://storage.contextoganadero.com/s3fs-public/colombia/field_image/2015-05/mujer_rural.jpg"
                alt="profile_photo">
        </div>
        <div class="div_input">
            <input type="text" placeholder="Crear publicación" (click)="modal_control('main', 'photos_videos')">
        </div>
    </div>

    <div class="container_foot">
        <span (click)="modal_control('projects', 'projects')"> <i class="icon-folder"></i> Proyectos</span>
        <span (click)="modal_control('main', 'photos_videos')"> <i class="icon-file-picture"></i> Fotos / Videos</span>
        <span (click)="modal_control('events', 'events')"> <i class="icon-calendar"></i> Eventos</span>
    </div>
</div>

<!-- -------------------------- MODAL ---------------------------------------------- -->

<div class="modal" [ngClass]="{'show': showModal}">
    <div class="modal_content" [ngClass]="{'show': showModal}">
        <i class="icon-cross style_close" (click)="closeModal()"></i>

        <!-- CONTENIDO DE CREAR PUBLICACION -->
        <div class="content_create_post" *ngIf="showModal==true && currentModal=='main' ">
            <h3>CREAR PUBLICACIÓN</h3>
            <div class="profile">
                <img src="https://storage.contextoganadero.com/s3fs-public/colombia/field_image/2015-05/mujer_rural.jpg" alt="profile_photo">
                <ul>
                    <li><p>PEPITA PEREZ</p></li>
                    <li>
                        <div class="div_label" (click)="changeModal('tag_people')">
                            <i class="icon-group"></i>
                            <p>Etiquetar</p>
                        </div>
                    </li>
                </ul>
            </div>
           <div class="content">
            <input [(ngModel)]="info.description" class="description" type="text" placeholder="¿De qué trata tu publicación?">
            <div class="div_add_img" *ngIf="closed_img">
                <i class="icon-cross style_close" (click)="funtion_close_img()"></i>
                <div>
                    <i class="icon-addthis"></i>
                    <p>Agrear fotos / videos</p>
                </div>
            </div>
            <div class="div_select_project">
                <p>Agregar a un proyecto: </p>
                <label *ngIf="select_data.length > 0" class="select_list_2 dropdown" [ngClass]="{'active': ddownInput.checked}"
                    (click)="ddownInput.checked = !ddownInput.checked;" (clickOutsideDdown)="ddownInput.checked = false;">
                
                    <!-- Es el texto que se muestra en la caja -->
                    <span *ngIf="info.linked==''">Seleccionar</span>
                    <span *ngIf="info.linked!=''">{{info.linked.slice(0,16)}}</span>
                
                    <!-- icono de la flecha -->
                    <i class="icon-play3"></i>
                
                    <!-- Me sirve para saber si está o no desplegado el select -->
                    <input type="checkbox" #ddownInput>
                
                    <!-- Caja que se despliega -->
                    <ul class="dropdown-list" *ngIf="ddownInput.checked">
                
                        <!-- Cada uno de los items -->
                        <li class="item" *ngFor="let item of select_data" (click)="changeModal(item.value)">
                            {{item.label}}
                        </li>
                        
                    </ul>
                </label>

                <!-- <select name="select_projects" class="select_projects" (change)="onChange($event.target)">
                    <ng-container>
                        <option *ngIf="info.linked!=''" disabled selected value>{{info.linked.slice(0,16)}}...</option>
                        <option *ngIf="info.linked==''" disabled selected value>Seleccionar</option>
                    </ng-container>
                    <option value="existente">Un proyecto existente</option>
                    <option value="nuevo">Un proyecto nuevo</option>
                </select> -->

                
            </div>
            <input (click)="btn_submit()" class="btn_submit" type="submit" value="PUBLICAR" />
           </div>
        </div>

        <!-- CONTENIDO DE LISTAS DE PROYECTOS EXISTENTES -->
        <div class="project_or_label_list" *ngIf="currentModal=='existente' && showModal==true">
            <i class="icon-circle-left" (click)="returnPreviousModal(false)"></i>
            <h3>MIS PROYECTOS</h3>
            <div class="div_search">
                <input type="text" placeholder="Buscar" (focus)="onInputFocus_Search()" (blur)="onInputBlur_Search()">
                <i class="icon-search" *ngIf="input_state"></i>
                <p (click)="returnPreviousModal(true)">Listo</p>
            </div>
            <div class="div_list">
                <p>Selecciona un proyecto:</p>
                <div class="list">
                    <ul>
                        <li *ngFor="let project of project_list, let indice=index" (click)="selected_project(project)" [ngStyle]="{'background': info.linked==project.name ? '#ffe4f4' : ''}">
                            <div id="div_li_project">
                                <img src="{{project.img}}" alt="img del projecto">
                                <p>{{project.name}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- CONTENIDO DE CREAR NUEVO PROYECTO -->
        <div class="create_project" *ngIf="currentModal=='projects' || currentModal=='nuevo'">
            <i class="icon-circle-left" (click)="returnPreviousModal(false)" *ngIf="currentModal=='nuevo'"></i>
            <h3>CREAR PROYECTO</h3>
            <div class="profile">
                <img src="https://storage.contextoganadero.com/s3fs-public/colombia/field_image/2015-05/mujer_rural.jpg" alt="profile_photo">
                <ul>
                    <li><p>PEPITA PEREZ</p></li>
                    <li>
                        <div class="div_label" (click)="changeModal('tag_people')">
                            <i class="icon-group"></i>
                            <p>Etiquetar participantes</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="div_add_img" *ngIf="closed_img">
                    <i class="icon-cross style_close" (click)="funtion_close_img()"></i>
                    <div>
                        <i class="icon-addthis"></i>
                        <p>Agregar portada del proyecto</p>
                    </div>
                </div>
                <div class="info_project">
                    <input [(ngModel)]="info.name" type="text" placeholder="Nombre del proyecto">
                    <input [(ngModel)]="info.description" class="input_descrip" type="text" placeholder="Descripción...">
                </div>
                <input (click)="btn_submit()" class="btn_submit" type="submit" value="PUBLICAR" />
            </div>
        </div>

        <!-- CONTENIDO DE LISTA DE PERSONAS A ETIQUETAR -->
        <div class="project_or_label_list" *ngIf="currentModal=='tag_people'">
            <i class="icon-circle-left" (click)="returnPreviousModal(false)"></i>
            <h3>ETIQUETAR A OTROS PERFILES</h3>
            <div class="div_search">
                    <input type="text" placeholder="Buscar" (focus)="onInputFocus_Search()" (blur)="onInputBlur_Search()">
                    <i class="icon-search" *ngIf="input_state"></i>
                    <p (click)="returnPreviousModal(true)">Listo</p>
                </div>
                <div class="div_list">
                    <p>Selecciona un proyecto:</p>
                    <div class="list">
                        <ul>
                            <li *ngFor="let project of project_list, let indice=index" (click)="selected_project(project)">
                                <div id="div_li_label">
                                    <img src="{{project.img}}" alt="img del projecto">
                                    <p>{{project.name}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>

        <!-- CONTENIDO DE CREAR EVENTO -->
        <div class="create_event" *ngIf="currentModal=='events' ">
            <h3>CREAR EVENTO</h3>
            <div class="profile">
                <img src="https://storage.contextoganadero.com/s3fs-public/colombia/field_image/2015-05/mujer_rural.jpg" alt="profile_photo">
                <ul>
                    <li><p>PEPITA PEREZ</p></li>
                    <li>
                        <div class="div_label" (click)="changeModal('tag_people')">
                            <i class="icon-group"></i>
                            <p>Etiquetar invitados especiales</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="div_add_img" *ngIf="closed_img">
                    <i class="icon-cross style_close" (click)="funtion_close_img()"></i>
                    <div>
                        <i class="icon-addthis"></i>
                        <p>Agrear fotos / videos</p>
                    </div>
                </div>
                <div class="div_event_type">
                    <p>Tipo de evento</p>
                    <div>
                        <label><input [(ngModel)]="info.event_type" type="radio" value="online" name="event_type">Online</label>
                        <label><input [(ngModel)]="info.event_type"  type="radio" value="presencial" name="event_type">Presencial</label>
                    </div>
                </div>
                <input [(ngModel)]="info.name" type="text" placeholder="Nombre del evento">
                <select class="mat-select-arrow" [(ngModel)]="info.time_zone">
                    <ng-container>
                        <option disabled selected value>Zona horaria</option>
                    </ng-container>
                    <option *ngFor="let zone of getZones()" [value]="zone.name">{{ zone.name }} (UTC{{ zone.offset }})</option>
                </select>
                <div class="div_date_time">
                    <input [(ngModel)]="info.start_date" class="my-date-input" type="date" placeholder="Fecha de inicio">
                    <input [(ngModel)]="info.ending_date" class="my-date-input" type="date" placeholder="Fecha de finalización">
                    <input [(ngModel)]="info.start_time" type="time" placeholder="Hora de inicio"/>
                    <input [(ngModel)]="info.ending_time" type="time" placeholder="Hora de finalización"/>
                </div>
                <input [(ngModel)]="info.address" type="text" placeholder="Dirección/Enlace">
                <input [(ngModel)]="info.description" class="input_descrip" type="text" placeholder="Descripción">
                <input (click)="btn_submit()" class="btn_submit" type="submit" value="PUBLICAR" />
            </div>
        </div>
    </div>
</div>
