<!--Section 1-->
<div id="section-1">
    <div id="content-title">
        <p>Te invitamos a apoyar las entidades sin ánimo de lucro.</p>
    </div>
    <div id="div-container-section1">
        <img src="../../../assets/images/image-btn.png" alt="" id="img-figure">
        <img src="../../../assets/images/image-removebg-preview.png" alt="" id="img-hands">
        <div>
            <a class="btn-donate">¡DONAR!</a>
        </div>
    </div>
</div>

<!--Section 2-->
<div id="section-2">
    <!--<input-select [data]="fundation_names" (changeValue)="mostrarItem($event)"></input-select>-->
</div>