// SECCIONES 
@import '../../styles/colors';

#section-1{
    width: 100%;
}
#content-title{
    height: 19%;
    padding: 2% 0% 2% 0%;
    margin: 0% auto;
}
#content-title p{
    text-align: center;
}
#div-container-section1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 81%;
}
#img-figure{
    position: absolute;
    bottom: 0;
    z-index: 0;

    width: 100%;
    height: 100px;
}
#img-hands{
    position: absolute;
    top: 0;
    z-index: 1;

    width: 65%;
    height: 85%;
    
}
#div-container-section1 div {
    position: absolute;
    bottom: 0;
    z-index: 1;
    text-align: center;

    width: 100%;
    height: auto;
    padding-bottom: 1%;

}
.btn-donate{
    width: auto;
    height: auto;

    font-weight: bold;
    color: white;
}

#section-2{
    width: 100%;
    padding: 6% 0% 6% 0%;

    background: white;
}
#select-fundations{

    padding: 0% 0% 2% 0%;
    margin: auto;
}
#info-fundations{
    width: 85%;

    margin: 0px auto;
    padding: 0% 2%;

    background: #FFF5FB;
    border-radius: 50px;
}
#name-fundation{
    text-align: center;
    margin-bottom: 5%;
    color: $dark-fucsia;
}
#container-view{
    display: flex;
    position: relative;
}
#view-img img{
    border-radius:150px;
}
#description-view{
    text-align: justify;
}
#btn-more{
    position: absolute;
    bottom: 0;
    right: 0;
    justify-content: center;

    height: 12%;
    margin: 0% 3% 1.5% 0%;

    color: black;
    background: white;
    border: 1px solid #8C0054;
    font-weight: bold;
}

#section-3{
    text-align: center;

    width: 100%;

    padding-top: 4%;
    padding-bottom: 4%;
}
h3{
    color: $dark-fucsia;
}

#section-4 {
    text-align: center;

    width: 100%;
    padding-top: 6%;
    padding-bottom: 6%;
    background: white;
}
.all-manage{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;

    width: 90%;
    margin-top: 4%;
}
.manage-1{
    width: 30%;
    height: 260px;
}
#desc-donation{
    margin-bottom: 14%;
}
.manage-1 .div-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4% 0% 4% 0%;

    width: 100%;
}
.manage-2{
    display: flex;
    width: 70%;
}
.manage-2 .box-description{
    width: 60%;
    margin-top: 4%;
}
.manage-2 .div-icons{
    width: 30%;
}
.manage-1, .manage-2{
    text-align: center;

    padding: 3% 2% 0% 2%;
    margin: 0% 3% 0% 3%;

    background: #FFF5FB;
    border-radius: 10px;
}
.div-icons i {    
    color: $dark-fucsia;

    font-size: 130px;
    margin: 5px;
}

#section-5{
    text-align: center;

    width: 100%;
    padding-top: 6%;
    padding-bottom: 6%;

    background: #FFF5FB;
}
.all-sponsoring, .all-sponsoring2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;

    width: 90%;
    margin-top: 4%;
}
.organization{
    text-align: center;

    margin: 0% 3% 0% 3%;
    width: 25%;

    background: white;
    border-radius: 20px;
}
.all-sponsoring div:first-child img{  
    margin: 4.5% auto;  
    width: 42%;
}
.all-sponsoring div:nth-child(2) img{   
    margin: 7% auto; 
    width: 50%;
}
.all-sponsoring div:nth-child(3) img{    
    margin: 15% auto;
    width: 50%;
}
.all-sponsoring2 div:first-child img{ 
    margin: 11% auto;   
    width: 50%;
}
.all-sponsoring2 div:nth-child(2) img{    
    margin: 14% auto;
    width: 60%;
}
.all-sponsoring2 div:nth-child(3) img{   
    margin: 12% auto; 
    width: 70%;
}

#section-footer{
    position: relative;

    width: 100%;
}
#contents-footer{
    position: absolute;
    margin-top: 6%;

    text-align: center;
    
    width: 100%;
}
#contents-footer p{
    margin-bottom: 20px;
}
#contents-footer button{
    margin: 0px auto;

    padding: 10px 20px 10px 20px;

    background: $soft-fucsia;
    border-radius: 10px;
    font-weight: bold;
    color: $dark-fucsia;
}
/* Small devices (phones) */
@media only screen and (max-width: 399px) {
    p, #btn-more, h3, button{
        font-size: 0.7em;
    }
    .btn-donate{
        font-size: 1em;
    }
    #section-1{
        height: 190px;
    }
    #content-title{
        width: 50%;
    }
    #img-figure{
        height: 50px;
    }

    //Section2
    #select-fundations{
        width: 65%;
    }
    #info-fundations{
        border-radius: 20px;
    }
    #info-fundations, #container-view{
        height: 114px;
    }
    #view-img {
        display:none;
    }
    #description-view{    
        width: 100%;
        margin: 3% auto 3% auto;
    }
    #btn-more{
        width: 26%;
    }

    //Section4
    .manage-1{
        width: 40%;
        height: 100px;
    }
    .manage-2{
        width: 65%;
    }
    .description-manage{
        display: none;
    }
    .div-icons i{
        font-size: 400%;
    }
    .manage-2 .box-description{
        width: 0%;
    }
    .manage-2 .div-icons{
        width: 100%;
    }

    .organization{
        height: 38px;
        border-radius: 10px;
    }

    #section-footer{
        height: 220px;
    }

}
/* Small devices (medium phones, 400px and up) */
@media only screen and (min-width: 400px) {
    p, button{
        font-size: 0.85em;
    }
    .btn-donate{
        font-size: 1.2em;
    }
    #section-1{
        height: 250px;
    }
    #content-title{
        width: 45%;
    }
    #img-figure{
        height: 54px;
    }

    //Section2
    #select-fundations{
        width: 65%;
    }
    #info-fundations{
        border-radius: 20px;
    }
    #info-fundations, #container-view{
        height: 130px;
    }
    #view-img {
        display:none;
    }
    #description-view{    
        width: 100%;
        margin: 3% auto 3% auto;
    }
    #btn-more{
        font-size: 0.8em;
    }

    //Section4
    .manage-1{
        width: 35%;
        height: 120px;
    }
    .manage-2{
        width: 50%;
    }
    .description-manage{
        display: none;
    }
    .div-icons i{
        font-size: 500%;
    }
    .manage-2 .box-description{
        width: 0%;
    }
    .manage-2 .div-icons{
        width: 100%;
    }

    .organization{
        height: 63px;
        border-radius: 10px;
    }

    #section-footer{
        height: 250px;
    }

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    p, #btn-more, button{
        font-size: 1em;
    }
    .btn-donate{
        font-size: 1.4em;
    }
    #section-1{
        height: 350px;
    }
    #content-title{
        width: 40%;
    }
    #img-figure{
        height: 65px;
    }

    //Section2
    #select-fundations{
        width: 65%;
    }
    #info-fundations, #container-view{
        height: 180px;
    }
    #view-img{
        display: block;
        height: 149px;
        margin: 3%;
    }
    #view-img img{
        width:150px;
        height:150px;
    }
    #description-view{    
        width: 100%;
        margin: 3% 3% 3% 0%;
    }
    #btn-more{
        width: 22%;
    }

    //Section4
    .manage-1{
        width: 35%;
        height: 160px;
    }
    .manage-2{
        width: 75%;
        height: 130px;
    }
    .description-manage{
        display: block;
    }
    .div-icons i{
        font-size: 530%;
    }
    .manage-2 .box-description{
        width: 50%;
    }
    .manage-2 .div-icons{
        width: 50%;
    }
    .organization{
        height: 79px;
        border-radius: 10px;
    }
    #section-footer{
        height: 270px;
    }

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    p, #btn-more, button{
        font-size: 1.2em;
    }
    .btn-donate{
        font-size: 1.6em;
    }
    #section-1{
        height: 450px;
    }
    #content-title{
        width: 35%;
    }
    #img-figure{
        height: 85px;
    }

    //Section2
    #select-fundations{
        width: 65%;
    }
    #info-fundations, #container-view{
        height: 239px;
    }
    #view-img{
        display: block;
        height: 199px;
        margin: 3%;
    }
    #view-img img{
        width:200px;
        height:200px;
    }
    #description-view{    
        width: 100%;
        margin: 3% 3% 3% 0%;
    }
    #btn-more{
        width: 22%;
    }

    //Section4
    .manage-1{
        width: 35%;
        height: 180px;
    }
    .manage-2{
        width: 75%;
        height: 150px;
    }
    .div-icons i{
        font-size: 550%;
    }
    .organization{
        height: 94px;
        border-radius: 10px;
    }

    #section-footer{
        height: 290px;
    }
}
/* Large devices (laptops/desktops, 900px and up) */
@media only screen and (min-width: 900px) {
    p, button{
        font-size: 1.4em;
    }
    #content-title p, #name-fundation{
        font-size: 1.8em;
    }
    .btn-donate{
        font-size: 2em;
    }
    #section-1{
        height: 550px;
    }
    #content-title{
        width: 42%;
    }
    #img-figure{
        height: 120px;
    }

    //Section2
    #select-fundations{
        width: 65%;
    }
    #info-fundations, #container-view{
        height: 360px;
    }
    #view-img{
        display: block;
        height: 299px;
        margin: 3%;
    }
    #view-img img{
        width:300px;
        height:300px;
    }
    #description-view{    
        width: 100%;
        margin: 3% 3% 3% 0%;
    }
    #btn-more{
        width: 22%;
    }

    //Section4
    .manage-1{
        width: 35%;
        height: 230px;
    }
    .manage-2{
        width: 75%;
        height: 190px;
    }
    .div-icons i{
        font-size: 700%;
    }

    .organization{
        height: 125px;
        border-radius: 10px;
    }

    #section-footer{
        height: 370px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    p, h3, button{
        font-size: 1.5em;
    }
    #section-1{
        height: 610px;
    }
    #content-title{
        height: 17%;
    }
    #img-figure{
        height: 115px;
    }
    #img-hands{
        height: 87%;
    }
    #div-container-section1{
        height: 83%;
    }
    .manage-1{
        width: 35%;
        height: 250px;
    }
    .manage-2{
        width: 75%;
        height: 200px;
    }
    .organization{
        height: 145px;
        border-radius: 10px;
    }
    #section-footer{
        height: 450px;
    }
} 