@import '../../styles/colors';

/* -------------------------------------------------------------------------- */
/*                                  seccion 1                                 */
/* -------------------------------------------------------------------------- */
.section-1 {
    height: 40rem;
    // background-color: rebeccapurple;
    background-color: white;
}

.div-section-donate{
  margin-top: 8%;
  margin-left: 25%;  
  z-index:1;
  position: absolute;

}
.text-donar-static-women{
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.button-donar-static-women{
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  font-size: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 20px;
}

.div-section-donate{

}

#img-curve {
  width: 100%;
  height: 100rem;
  position: absolute;
  z-index:0;
  top: -40rem;

}

#img-section-1 {
  width: 100%;
  height:35rem;
  position: absolute;
  z-index:0;
  top: 10%;
  left: 20%;
}
/* -------------------------------------------------------------------------- */
/*                                  seccion 2                                 */
/* -------------------------------------------------------------------------- */
.section-2 {
    margin: -5%;
    padding: 10px;
    background-color: white;
  }
  .title-section-2{
    text-align: center;
  }
  /* Ajustes de estilo para el carrusel */
  app-carousel {
    height: 400px;
    margin-bottom: 40px;
  }