@import "../../styles/colors";

/* -------------------------------------------------------------------------- */
/*                                  seccion 1                                 */
/* -------------------------------------------------------------------------- */

.section-1 {
  height: 60rem;
  // height:fit-content;
  // background-color: rebeccapurple;
  background-color: white;
  // background-image: url('../../../assets/images/background_static_women.svg');
  background-repeat: no-repeat;


}

.div-section-donate {
  margin-top: 8%;
  margin-right: 30%;
  left: 10%;
  z-index: 1;
  position: absolute;
}

.text-donar-static-women {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}

.button-donar-static-women {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  font-size: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 20px;
}

#img-curve {
  // position: absolute;
  // z-index: 0;
  // top: 40%;
  // left: 40%;
  // top: -35rem;
}

#img-section-1 {
  width: 100%;
  height: 60rem;
  position: absolute;
  z-index: 0;
  object-fit: cover;
  // top: 10%;
  // left: 40%;
}

/* -------------------------------------------------------------------------- */
/*                                  seccion 2                                 */
/* -------------------------------------------------------------------------- */
.section-2 {
  margin: 5%;
  padding: 10px;
  background-color: white;
}

.title-section-2 {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  color: #000;
}

/* Ajustes de estilo para el carrusel */
app-carousel {
  height: 400px;
  margin-bottom: 40px;
}

/* -------------------------------------------------------------------------- */
/*                                  seccion 3                                 */
/* -------------------------------------------------------------------------- */
.section-3 {
  background-color: #FFF5FB;
}

.title-section-3 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

#img-section-3 {
  width: 100%;
  height: 35rem;
  margin-top: 5rem;
  position: absolute;
  z-index: 0;
  right: 20rem;
}

.container-step-text {
  z-index: 1;
  margin-left: 40%;
  margin-bottom: 5%;
}

.text-step-one {
  margin-top: 9rem;
  font-size: 30px;
}

.text-step-two {
  margin-top: 9rem;
  font-size: 30px;
}

.text-step-three {
  margin-top: 7rem;
  font-size: 30px;
}

/* -------------------------------------------------------------------------- */
/*                                  seccion 4                                 */
/* -------------------------------------------------------------------------- */

.section-4 {
  padding-top: 2%;
  background-color: #fff;
}

.title-section-4 {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  color: #000;
}