<!-- ----------------------------------------------------------------------- -->
<!--                                Sección 1                                -->
<!-- ----------------------------------------------------------------------- -->

<div id="section-1" class="section-1">
  <div class="div-section-donate">
    <p class="text-donar-static-women">
      Te invitamos a apoyar los <br />
      emprendimientos de las mujeres rurales.
    </p>
    <button id="button-donar-static-women" class="button-donar-static-women">
      ¡Donar!
    </button>
  </div>
  <div class="div-sction-images-donation">
    <img
      id="img-curve"
      src="../../../assets/images/background_static_women_pink.svg"
      alt="curve-section-1"
    />
    <img
      id="img-section-1"
      src="../../../assets/images/background_static_women.svg"
      alt="Imagen de la pagina static women de RuralWom"
    />
  </div>
</div>

<!-- ----------------------------------------------------------------------- -->
<!--                                Sección 2                                -->
<!-- ----------------------------------------------------------------------- -->

<div class="section-2">
  <h2 class="title-section-2">PROYECTOS DESTACADOS</h2>
  <app-carrusel></app-carrusel>
</div>

<!-- ----------------------------------------------------------------------- -->
<!--                                Seccion 3                                -->
<!-- ----------------------------------------------------------------------- -->

<div class="section-3">
  <h2 class="title-section-3">¿Qué necesitas para unirte a RuralWom?</h2>
  <img
    id="img-section-3"
    src="../../../assets/images/step_static_women.svg"
    alt="Imagen de step de la pagina static women de RuralWom"
  />
  <div class="container-step-text">
    <p class="text-step-one">
      Tienes que pertener a alguna zona <br />
      rural de tu país.
    </p>
    <p class="text-step-two">
      Debes ser parte de una fundación que <br />
      se encuentre registrada en RuralWom.
    </p>
    <p class="text-step-three">
      Una vez seas parte de una fundación, <br />
      serás integrada automaticamente por <br />
      esta a RuralWom o debes solicitar su <br />
      codigo de integración para que logres <br />
      ser parte de esta comunidad.
    </p>
  </div>
</div>

<!-- ----------------------------------------------------------------------- -->
<!--                                Seccion 4                                -->
<!-- ----------------------------------------------------------------------- -->

<div class="section-4">
  <h2 class="title-section-4">
    ¡Si eres mujer rural y no perteneces a ninguna <br />
    fundación, puedes solicitar ser parte de una!
  </h2>
    <app-form-static-women></app-form-static-women>
</div>

