.main_section{
    position: relative;
    margin: 0px auto;
    width: 1080px;
    margin-top: 1.5%;
    background: rebeccapurple;
    .section_1{
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(0px, 0px);
        width: 23%;
        height: 319px;
        background: white;
    }
    .section_2{
        margin: 0px auto;
        width: 51.5%;
        // height: 500px;
    }
    .section_3{
        position: absolute;
        right: 0;
        top: 0;
        width: 23%;
        height: 319px;
        background: rgb(46, 77, 0);
    }
}

