.main_section{
    margin: 0px auto;

    width: 1080px;
    margin-top: 1.5%;
    
    background: red;
}


.section_1{
    position: fixed;
    left: 9%;
    top: 12.5%;

    width: 19%;
    height: 100%;

    background: rgb(46, 77, 0);
}

.section_2{
    margin: 0px auto;

    width: 50.5%;

    background: red;

    #hola{
        height: 200px;
        width: 100%;
        background: rebeccapurple;
    }

}
.section_3{
    position: fixed;
    right: 9.5%;
    top: 12.5%;
    
    width: 19%;
    height: 100%;
    
    background: rgb(46, 77, 0);
}