<div class="content-auth">

    <div class="box-container">

        <div class="container">

            <h2 class="confirm-title">Confirmar cuenta</h2>

            <p>
                Escribe el código de verificación que enviamos 
                a tu correo electronico con el cual te registraste
            </p>

            <form #verifyForm="ngForm" (ngSubmit)="verifyEmail(verifyForm)">
                <span class="message">{{message.text}}</span>

                <input type="text" name="code" [(ngModel)]="dataConfirm.code" placeholder="Codigo de verificación">

                <button class="button" type="submit">Confirmar</button>

                <span><a>Reenviar código de verificación</a></span>
            </form>

        </div>

    </div>

</div>