
<app-modal-create-post (infoChange)="createPortfolio($event)" [showCompleteComponent]="false" [event_modal]="event_mdoal"></app-modal-create-post>

<div class="portfolio" *ngIf="preview" [ngClass]="{'limit': preview}">

    <section class="head">


        <span>
            <h3 class="title">Portafolio</h3>
            <a href="#">Ver todo</a>
        </span>

        <span class="opacity" style="margin: 5px 10px;">
            <p>34 proyectos</p>
        </span>

    </section>

    <section class="content-grid-box">

        <ul class="grid" *ngIf="loading">

            <li class="item" *ngFor="let i of  [0,1,2,3]">

                <div class="cover loading-Element" style="height: 82px;"></div>

                <span class="item-data loadingBar loading-Element"></span>

                <span class="item-data loadingBar loading-Element">
                    
                </span>


            </li>

        </ul>

        <ul class="grid" *ngIf="!loading">

            <li class="item" *ngFor="let portfolio of portfolioData">

                <div class="cover">
                    <img [src]="portfolio.cover" alt="">
                </div>

                <span class="item-data">{{portfolio.name}}</span>

                <span class="item-data">
                    <i class="icon-heart"></i> {{portfolio.likes ? portfolio.likes : 0 }}
                </span>


            </li>

            <li class="item add-project" *ngIf="portfolioData?.length < 4 && !loading" (click)="openModalCreatePortfolio()">
                <i class="icon-folder-plus"></i>
            </li>

        </ul>

    </section>

</div>


<div class="portfolio all" *ngIf="!preview">

    <head class="head">

        <h3 class="title">PROYECTOS</h3>

        <div class="filter-box">
            <hr>
            <span>
                Filtrado por: 
                <!-- SELECT -->
                <label class="select_list_2 dropdown" [ngClass]="{'active': ddownInput.checked}"
                    (click)="ddownInput.checked = !ddownInput.checked;" (clickOutsideDdown)="ddownInput.checked = false;">

                    <!-- Es el texto que se muestra en la caja -->
                    <span>{{filterSelected.label}}</span>

                    <!-- icono de la flecha -->
                    <i class="icon-play3"></i>

                    <!-- Me sirve para saber si está o no desplegado el select -->
                    <input type="checkbox" #ddownInput>

                    <!-- Caja que se despliega -->
                    <ul class="dropdown-list" *ngIf="ddownInput.checked">

                        <!-- Cada uno de los items -->
                        <li class="item" *ngFor="let item of filters" (click)="filterSelected = item">
                            {{item.label}}
                        </li>
                        
                    </ul>
                </label>
                <!-- FIN SELECT -->
            </span>
        </div>

    </head>

    <div class="body-grid-box">

        <ul class="wraper">

            <li class="item" *ngFor="let portfolio of portfolioData">

                <div class="cover">
                    <img src="{{portfolio.cover}}" alt="">
                </div>


                <div class="info">
                    <span class="item-title">{{portfolio.name}}</span>

                    <p>
                        {{portfolio.description}}
                    </p>
                </div>

                

            </li>

        </ul>

    </div>

</div>