<div class="portfolio" *ngIf="preview" [ngClass]="{'limit': preview}">

    <section class="head">


        <span>
            <h3 class="title">Portafolio</h3>
            <a href="#">Ver todos los proyectos</a>
        </span>

        <span class="opacity" style="margin: 5px 10px;">
            <p>34 proyectos</p>
        </span>

    </section>

    <section class="content-grid-box">

        <ul class="grid">

            <li class="item" *ngFor="let i of [0,1,2,3]">

                <div class="cover">
                    <img src="https://s1.significados.com/foto/shutterstock-513513718_bg.jpg" alt="">
                </div>

                <span class="item-data">Alrtesanías Molis</span>

                <span class="item-data">
                    <i class="icon-heart"></i> 137
                </span>


            </li>

        </ul>

    </section>

</div>


<div class="portfolio all" *ngIf="!preview">

    <head class="head">

        <h3 class="title">PROYECTOS</h3>

        <div class="filter-box">
            <hr>
            <span>
                Filtrado por: 
                <!-- SELECT -->
                <label class="select_list_2 dropdown" [ngClass]="{'active': ddownInput.checked}"
                    (click)="ddownInput.checked = !ddownInput.checked;" (clickOutsideDdown)="ddownInput.checked = false;">

                    <!-- Es el texto que se muestra en la caja -->
                    <span>{{filterSelected.label}}</span>

                    <!-- icono de la flecha -->
                    <i class="icon-play3"></i>

                    <!-- Me sirve para saber si está o no desplegado el select -->
                    <input type="checkbox" #ddownInput>

                    <!-- Caja que se despliega -->
                    <ul class="dropdown-list" *ngIf="ddownInput.checked">

                        <!-- Cada uno de los items -->
                        <li class="item" *ngFor="let item of filters" (click)="filterSelected = item">
                            {{item.label}}
                        </li>
                        
                    </ul>
                </label>
                <!-- FIN SELECT -->
            </span>
        </div>

    </head>

    <div class="body-grid-box">

        <ul class="wraper">

            <li class="item" *ngFor="let i of [0,1,2,3,4,5,6,7,7,7,7,7,7,7,7]">

                <div class="cover">
                    <img src="https://s1.significados.com/foto/shutterstock-513513718_bg.jpg" alt="">
                </div>


                <div class="info">
                    <span class="item-title">Artesanías Molis</span>

                    <p>
                        En un proyecto se tienen en cuenta los aspectos técnicos, económicos y financieros.
                    </p>
                </div>

                

            </li>

        </ul>

    </div>

</div>