<div class="portfolio">
                    
    <section class="head">


        <span>
            <h3 class="title">Portafolio</h3>
            <a href="#">Ver todos los proyectos</a>
        </span>

        <span class="opacity" style="margin: 5px 10px;">
            <p>34 proyectos</p>
        </span>

    </section>

    <section class="content-grid-box">

        <ul class="grid">

            <li class="item" *ngFor="let i of [0,1,2,3]">

                <div class="cover">
                    <img src="https://s1.significados.com/foto/shutterstock-513513718_bg.jpg" alt="">
                </div>

                <span class="item-data">Alrtesanías Molis</span>

                <span class="item-data"> 
                    <i class="icon-heart"></i> 137 
                </span>


            </li>

        </ul>

    </section>





</div>
