<div class="donation_details">
    <div class="container">
        <h3>Detalle de la donación</h3>
        <ul>
            <li>
                <p>Envío {{info_donation.state}}</p>
            </li>
            <li>
                <p>Para: <span>{{info_donation.project}}</span></p>
            </li>
            <li>
                <p>Cuanto: <span>{{info_donation.amount}}</span></p>
            </li>
            <li>
                <p>Fecha: <span>{{info_donation.date}}</span></p>
            </li>
            <li>
                <p>Codigo: <span>{{info_donation.code}}</span></p>
            </li>
            <li>
                <p>Patrocinador: <span>{{info_donation.sponsor}}</span></p>
            </li>
            <li>
                <p>¿A quién le llegó el dinero?</p>
                <div>
                    <img class="img_profile" src="https://www.kienyke.com/sites/default/files/styles/amp_1200x675_16_9/public/2020-06/Nadia-S%C3%A1nchez1-Fundaci%C3%B3n-She-is.jpg?itok=grvsii77" alt="foto del perfil del destinatario">
                    <p>{{info_donation.addressee}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>