@import '../styles/colors';

:host {
    .title { 
        margin: 5px 10px;
    }

    .subtitle {
        margin: 0px 10px;
    }

    .opacity {
        opacity: 0.7;
    }
}

.component {
    &:not(:first-child) {
        margin-top: 20px;
    }
}

.profile {
    width: 100%;
    padding: 15px;
    overflow-x: hidden;
    height: fit-content;

    .profile-container {
        width: 100%;
        display: flex;
        box-sizing: content-box;
        flex-direction: column;
        max-width: 91rem;
        margin: 0 auto;

        .first-section {
            width: 100%;
            display: flex;
            justify-content: center;


            .left-column {
                margin-right: 25px;
                max-width: 60rem;
                position: inherit;
            }

            .right-column {
                max-width: 30rem;
            }
        }


        .second-section {

            $max-width: 85.251rem;
            
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .component{
                width: 100%;
                display: flex;
                max-width:  $max-width;
                justify-content: center;
            }

            .menu-information {
                width: 100%;
                margin-top: 20px;
                background: white;
                border-radius: 20px;
                padding: 16px;

                .content-items {
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                    margin: 0;

                    .items {
                        cursor: pointer;
                        border: 1px solid #ccc;
                        border-radius: 25px;
                        padding: 10px 15px;
                    }

                }

            }
        }

    }
}

.posts {
    display: flex;
    background: white;
    border-radius: 10px;
    flex-direction: column;
    padding: 10px;
    height: 130px;

    div {
        display: flex;

        &:not(:first-child){
            justify-content: space-between;
        }
    }

    div .photo {
        width: 53px;
        height: 53px;
        margin: 0px 10px;
        border-radius: 50%;
        overflow: hidden;
        border: 4px solid white;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;

            transition: all 300ms;

            &:hover {
                filter: brightness(0.8);
            }
        }
    }

    div .input {
        align-self: center;
        background: #E5E5E5;
        padding: 10px 15px;
        width: 100%;
        min-width: 157px;
        border-radius: 20px;
        cursor: text;
        transition: all 200ms;

        &:hover {
            background: rgba($color: #E5E5E5, $alpha: 0.7);
        }

        span {
            user-select: none;
        }

    }

    div .button-item {
        color: #b3b3b3;
        padding: 8px 15px;
        margin: 0px 5px;
        cursor: pointer;
        transition: all 300ms;
        border-radius: 10px;
        display: flex;
        align-items: center;

        &:hover {
            background: #ebebeb;
        }
    }


}

.profile-information {
    
    display: flex;
    flex-direction: column;

    section {
        display: flex;
        background: white;
        border-radius: 10px;
        padding: 16px 10px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;

        article {
            border: 1px solid $light;
            padding: 16px;
            border-radius: 10px;
        }

        .general-info {
            display: flex;
            justify-content: space-around;
            width: 100%;
            padding: 10px;

            div span {
                display: flex;
                
                .key {
                    width: 155px;
                    text-align: end;
                    margin-right: 15px;
                }

                .value {

                }

            }

        }

        .certifications {
            width: 100%;
            padding: 10px;

            .container-certifications {
                display: flex;
                border: 1px solid $light;
                border-radius: 10px;
                padding: 16px;
                overflow-x: auto;
                max-width: 85.251rem;

                .certification {
                    width: 120px;
                    text-align: -webkit-center;
                    margin: 5px 15px;
                    

                    .icon {
                        border-radius: 9px;
                        border-top-right-radius: 27px;
                        border: 1px solid red;
                        background: #ebebeb;
                        width: 75px;
                        height: 90px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 8px;
                        flex-direction: column;

                        i {
                            font-size: 45px;
                        }
                    }

                    
                }
            }

        }

    }



}



