@import '../../../styles/colors';
@import '../../profiles.component.scss';


button {
    padding: 8px 15px;
}

.user-info {
    background: white;
    border-radius: 10px;
    padding-bottom: 10px;
    // height: 439px;

    .cover-photo {
        position: relative;

        .user-cover-photo {    
            max-height: 320px;
            overflow: hidden;
            border-radius: 12px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        button {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }

    }

    .ph5 {
        
        .user {

            display: flex;
            position: relative;
            justify-content: space-between;

            div {
                display: flex;
            }

            $photo-width: 180px;
            $photo-margin: 18px;

            .profile-photo-separator {
                width: $photo-width;
                margin: 0 $photo-margin;
                height: 100px;
            }

            .profile-photo {
                position: absolute;
                bottom: 0px;
                left: $photo-margin;
                width: $photo-width;
                height: 178px;
                border-radius: 50%;
                overflow: hidden;
                border: 4px solid white;
                background: #ccc;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;

                    transition: all 300ms;

                    &:hover {
                        filter: brightness(0.8);
                    }
                }
            }

            .information { }

            .aditional {
                margin-right: 9px;

                
            }

        }

        .followers {
            display: flex;
            justify-content: center;
            margin: 10px 18px;
            width: 180px;
        }

    }

}