@import '../../../styles/colors';
@import '../../profiles.component.scss';


button {
    padding: 8px 15px;
}

.input-upload-content {
    margin: 0 auto;
    width: max-content;
    z-index: 5;
    display: flex;
    font-size: 1rem;
    text-align: left;
    
    flex-direction: column;
    background: rgba($color: #E5E5E5, $alpha: 0.8);
    box-shadow: 0px 3px 12px 1px rgba(153, 162, 184, 0.5);
    border-radius: 3px;
    transition: background 200ms;

    &:hover {
        background: rgba($color: #E5E5E5, $alpha: 0.9);
    }

    li, label {
      padding: 12px 15px;
      cursor: pointer;
    }

    li, label {cursor: pointer;}

    label.user-photo {
        position: absolute !important;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        top: 0;
    }
}

.user-info {
    background: white;
    border-radius: 10px;
    padding-bottom: 10px;
    // height: 439px;

    .cover-photo {
        position: relative;

        .user-cover-photo {    
            max-height: 320px;
            min-height: 320px;
            background: #ccc;
            overflow: hidden;
            border-radius: 12px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .upload-cover {
            position: absolute;
            top: 50%;
            width: 100%;
        }

        
        .btn-group {
            display: flex;
            position: absolute;
            bottom: 0;
            width: 100%;
            justify-content: flex-end;
            padding: 0 10px;
            margin-bottom: 10px;

            button {

            }
        }
        

    }

    .ph5 {
        
        .user {

            display: flex;
            position: relative;
            justify-content: space-between;

            div {
                display: flex;
            }

            $photo-width: 150px;;
            $photo-margin: 18px;

            .profile-photo-separator {
                width: $photo-width;
                margin: 0 $photo-margin;
                height: 100px;
            }

            .profile-photo {

                .userAvatar {
                    width: 150px;
                    position: absolute;
                    left: 30px;
                    bottom: 13px;
                    min-width: 150px;
                    max-width: 150px;
                    max-height: 150px;
                    min-height: 150px;
                    height: auto;
                    border-radius: 500rem;
                    border: 3px solid #ccc;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                .icon-camera {
                    width: 36px;
                    height: 36px;
                    position: absolute;
                    bottom: 25px;
                    left: 140px;
                    border-radius: 50%;
                    display: flex;
                    padding: 6.5px 8px;
                    font-size: 22px;
                    background: #E5E5E5;
                    color: black;
                    transition: all 0.3s;
                    font-weight: 700;
                    z-index: 3;
                    cursor: pointer;

                    &:hover {
                        background: rgba($color: #E5E5E5, $alpha: 0.9);
                    }
                }

            }

            .information {
                margin-top: 8px;

                input {
                    width: 100%;
                    height: 25px;
                }

                .ipt-title {
                    font-size: 18px;
                    height: auto;
                    font-weight: 600;
                }

                &.loading {
                    min-width: 200px;
                }

            }

            .aditional {
                margin-right: 9px;
                margin-top: 8px;

                
            }

        }

        .followers {
            display: flex;
            justify-content: center;
            margin: 10px 18px;
            width: 180px;
        }

    }

}