<div class="user-info">

    <div class="cover-photo">
        <div class="user-cover-photo">
            <img src="https://africa.unwomen.org/sites/default/files/Field%20Office%20Africa/Images/News/2021/07/D4RWRD%20-%20Cover.jpg">
        </div>
        
        <button class="color-white"> <i class="icon-pencil"></i> Editar perfil</button>
    </div>

    <div class="ph5">
        
        <div class="user">

            <div>
                <span class="profile-photo-separator"></span>
                <div class="profile-photo">
                    <img #userAvatar *ngIf="userData" [src]="userData.User?.image" (error)="userAvatar.src = photoDefault">
                </div>

                
                
                <span class="information">
                    <h3 class="title">{{userData?.User?.name}}</h3>
                    <p class="subtitle">{{userData?.Profile?.Woman?.fundation ? userData.Profile.Woman.fundation : 'Sin afiliación'}}</p>
                </span>
            </div>
            
            <div>
                <span class="aditional">
                    <button class="outlet"> <i class="icon-user-plus"></i> Seguir</button>
                </span>
            </div>
            
            

        </div>

        <div class="followers">
            <span>
                38 seguidores
            </span>   
        </div>

    </div>

</div>
